@model IEnumerable<Entity.Persona>

@{
    ViewBag.Title = "Lista Persona";
    Layout = "~/Views/Shared/_Menubar.cshtml";
}


<div class="container" style="position:relative; top:20px; right:-150px; width:1050px">
    <div class="well well-sm">
        <div class="row">
            <div class="col-md-6">
                <h2>Persona</h2>

                <div class="col-xs-2 text-right">
                    <a class="btn btn-primary" href="~/Personas/Create">Nuevo registro</a>
                </div>
            </div>
        </div>
    </div>
                <table id="grid" class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Apellido)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cedula)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Direccion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.activo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TipoPersona.NombresTipoPersona)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Usuario.NombresUsuario)
                        </th>
                        <th></th>
                    </tr>
                        </thead>
                    <tbody>
                    
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cedula)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.activo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoPersona.NombresTipoPersona)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Usuario.NombresUsuario)
                            </td>
                            <td class="text-left">
                                <a class="btn btn-danger" href="~/Personas/Delete/@item.IdPersona" title="Eliminar">
                                    <i class="glyphicon glyphicon-floppy-remove"></i>
                                </a>
                                <a class="btn btn-success" href="~/Personas/Details/@item.IdPersona" title="Visualizar">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </a>
                                <a class="btn btn-default" href="~/Personas/Edit/@item.IdPersona" title="Editar">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    }
                        </tbody>
                </table>
</div>
