@model IEnumerable<Entity.Proveedor>

@{
    ViewBag.Title = "Lista de Proveedores";
    Layout = "~/Views/Shared/_Menubar.cshtml";
}

<div class="container" style="position:relative; top:20px; right:-170px; width:1000px">
    <div class="well well-sm">
        <div class="row">
            <div class="col-md-6">
                <h2>Proveedores</h2>

                <div class="col-xs-2 text-right">
                    <a class="btn btn-primary" href="~/Proveedor/Create">Nuevo registro</a>
                </div>
            </div>
        </div>
    </div>
    <table id="grid" class="table table-bordered">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activo)
            </th>
            <th></th>
        </tr>
            </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.activo)
                </td>
                <td class="text-left">
                    <a class="btn btn-danger" href="~/Proveedor/Delete/@item.IdProveedor" title="Eliminar">
                        <i class="glyphicon glyphicon-floppy-remove"></i>
                    </a>
                    <a class="btn btn-success" href="~/Proveedor/Details/@item.IdProveedor" title="Visualizar">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </a>
                    <a class="btn btn-default" href="~/Proveedor/Edit/@item.IdProveedor" title="Editar">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
            </tr>
        }
            </tbody>
    </table>
    </div>