@model Entity.Producto

@{
    ViewBag.Title = "Detalles de Producto";
    Layout = "~/Views/Shared/_Menubar.cshtml";
}

<div class="container-fluid" style="position:relative; top:20px; right:-300px;">
    <div class="row">
        <div class="col-md-9">
            <ol class="breadcrumb">
                <li><a href="~/">Prodcuto</a></li>
                <li class="active">@(Model.NombreProducto)</li>
            </ol>
            <div>
                <h4>Producto</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.NombreProducto)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NombreProducto)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PrecioXUnidad)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PrecioXUnidad)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.activo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.activo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TipoProducto.NombresTipoProducto)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TipoProducto.NombresTipoProducto)
                    </dd>

                </dl>
            </div>
            <p>
                <a class="btn btn-primary" href="~/Producto/Edit/@Model.IdProducto" title="Editar">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="~/Producto/Index" class="btn btn-success">Regresar a Lista</a>
            </p>
            </div>
</div>
</div>